body,
html {
  --header-height: 80px;
  --nav-height: 50px;
  --header-padding: 80px;
  --green-color: #1e9fa7;
  --purple-color: rgb(152 90 182);
  --color-black: #333333;
  --color-blue: #0eb2f8;
  --header-background: rgb(50, 50, 50);
  --border-grey: #c7c4c4;
}
html {
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;*/
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
.page-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: var(--header-height);
  overflow: hidden;
}
.section-container {
  padding: 50px 30px;
  height: calc(100vh - var(--header-height));
  overflow: auto;
}
.nuxt-link-active {
  font-weight: bold;
  color: var(--green-color) !important;
}
.title {
  color: #575e64;
  border-bottom: 1px solid #975bb6;
  margin-bottom: 50px;
  padding-bottom: 20px;
  width: 100%;
}

.title-module {
  color: #2196f3;
  margin: 20px 0px;
  font-size: 21px;
  width: 100%;
}
.language-bash,
.language-js,
.language-markup {
  /*background-color: rgb(236, 240, 241) !important;*/
}

.clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prop-light {
  color: #0677aa;
  font-size: 17px;
}
.menu-bar {
  position: absolute;
  display: none;
}
.menu-bar.show {
  display: block;
}

.btn {
  appearance: none;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.btn.blue {
  background-color: var(--color-blue);
  border: 1px solid transparent;
  transition: all .15s ease-in-out;
}

.btn.black {
  background-color: var(--color-black);
  border: 1px solid transparent;
  transition: all .15s ease-in-out;
}

.btn.hover.blue:hover {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  background-color: white;
}

.btn.hover.black:hover {
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background-color: white;
}

.container-section {
  margin-bottom: 80px;
}

@media (min-width: 1024px) {
  .title {
    width: 50%;
  }
  .menu-bar {
    position: relative;
    display: block;
  }
  .page-container {
    grid-template-columns: 300px 1fr;
  }
  .section-container {
    padding: 100px 80px;
  }
}